<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOffApp'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='utf-8'>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buyList">

     <h2>Add Items To Buy</h2>
         <input type="text"  ng-model="newItemName">
         <input type="text"  ng-model="newItemQuantity">
         <button ng-click"buyList.addNewItemToBuy();">Add new item to buy</button>
     <h2>To Buy:</h2>
     <ul>
        <li ng-repeat="item in buyList.buyItemList()" class="glyphicon glyphicon-ok">
            {{ item.itemQuantity }} of {{ item.itemName }}<br/>

        </li>
     </ul>
<!--            <button ng-click="buyList.itemPurchased({{item.id}});" id="item.id">Purchased</button> -->
     <div ng-if="!buyList.buyItemList" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
<!--
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList">
     <h2>Already Bought:</h2>
        <li ng-repeat="item in boughtList.items" class="glyphicon glyphicon-ok">
            {{ boughtList.itemQuantity }} of {{ boughtList.itemName }}
        </li>
     <ul>
       <li>Bought 10 cookies</li>
     </ul>
     <div class="emptyMessage">Nothing bought yet.</div>
    </div>
-->
  </div>
</div>
    <script src='angular.min.js'></script>
    <script src='app.js'></script>
</body>
</html>
