<!DOCTYPE html>
<html ng-app='ShoppingListApp'>                     
  <head>
    <meta charset='utf-8'>
    <script src='angular.min.js'></script>
    <script src='app.js'></script>
    <style>body { font-size: 1.5em; }</style>
    <title>ng-repeat</title>
  </head>
  <body ng-controller='ShoppingListAppController'>
    <h1>ng-repeat</h1>
    <div>
        <h3>Shoping List #1</h3>
<!--        <ul>
            <li ng-repeat="item in shoppingList1">
                {{item}} 
            </li>
        </ul>

        <input type="text" ng-model="shoppingList2[0].quantity"/>
-->
        Shopping List #2:
        <ul>
            <li ng-repeat="item in shoppingList2">
               {{$index+1}} buy {{item.quantity}} of {{item.name}}(s) 
            </li>
        </ul>
        <input type="text" ng-model="newItemName"     placeholder="item name"   />
        <input type="text" ng-model="newItemQuantity" placeholder="item quantity"   />
        <button ng-click="addNewItem();">
            Add New Item
        </button>            

    </div>
  </body>
  <script>
  </script>                    
</html>


